html {
  --nombreVariable: url("../assets/button-crear-gifo.svg");
  --colorPrimario: #572ee5;
  --colorNav: #572ee5;
  --verMasHover: #ffffff;
  --colorVerMas: #572ee5;
  --anchoCard: "260px";
  --altoCard: "200px";
  --crearGifoHover: url("../assets/CTA-crear-gifo-hover.svg");
}
* {
  margin: 0;
  padding: 0;
}
.darkMode {
  background-color: #37383c;
  color: #fff;
  header {
    background-color: #37383c;
    .menuppal {
      background-color: transparent;
      border: none;
    }
    .menuppal.is_active {
      background-color: black;
    }
  }
  main {
   
    .busqueda {
      .form {
        .lupita {
          .input {
            background-color: #37383c;
          }
        }
      }
    }
    .GIFOS {
      background-color: #222326;
    }
  }
}
body {
  border-top: solid #572ee5 5px;
  width: auto;
  header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    // border-top: solid #572ee5 5px;
    margin: auto;
    padding: 1rem 1.2rem;
    box-sizing: border-box;
    img {
      width: 3rem;
    }
  }
  main {
    
    .pasos {
      
      width: 90%;
      margin: auto;
      position: relative;
      .instrucciones {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        .numeros {
          margin: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
          .num {
            align-self: center;
            width: 30px;
            height: 30px;
            margin-right: 1em;
            margin-left: 1em;
            color: #572ee5;
            border: solid #572ee5 1.5px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            p {
              margin-top: 0.4em;
              font-size: 16px;
              font-family: "Roboto", sans-serif;
              font-weight: bold;
            }
          }
        }
        .reloj {
          position: absolute;
          top: -10px;
          right: 5px;
          color: #572ee5;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 11px;
        }
        .repetir {
          width: auto;
          white-space: nowrap;
          position: absolute;
          top: -10px;
          right: 5px;
          color: #572ee5;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          font-size: 11px;
          cursor: pointer;
          text-decoration: underline solid 2px #5ed7c6;
        }
      }

      .line {
        border-bottom: solid #572ee5 7px;
        width: 100%;
        margin: auto;
      }
    }
    .comenzar {
      //margin: auto;
      display: flex;
      
      justify-content: center;
      margin-top: 1.5em;
      #start {
        color: var(--colorPrimario);
        border: 1px solid var(--colorPrimario);
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        width: 127px;
        height: 50px;
        border-radius: 25px;
        font-weight: bold;
        outline: none;
        background: var(--verMas) no-repeat;
        cursor: pointer;
      }
      #start:hover {
        border: 1px solid var(--verMasHover);
        background: var(--verMasHover) no-repeat;
        color: var(--verMasFuenteHover);
        
      }
    }
  }
  footer {
    box-sizing: border-box;
    width: 100%;
    height: 196px;
    padding-top: 45px;
    padding-bottom: 25px;
    border-bottom: solid 5px #572ee5;
    display: flex;
   
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    .redes {
      padding-left: 0;
      .iconitos {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        .contain_icon_face {
          width: 20px;
          margin-left: 8px;
          height: 20px;
          background: url("../assets/icon_facebook.svg") no-repeat;
        }
        .contain_icon_face:hover {
          background: url("../assets/icon_facebook_hover.svg") no-repeat;
        }
        .contain_icon_instagram {
          width: 20px;
          margin-left: 6px;
          height: 20px;
          background: url("../assets/icon_instagram.svg") no-repeat;
        }
        .contain_icon_instagram:hover {
          background: url("../assets/icon_instagram-hover.svg") no-repeat;
        }
        .contain_icon_twitter {
          width: 20px;
          margin-left: 10px;
          height: 20px;
          background: url("../assets/icon-twitter.svg") no-repeat;
        }
        .contain_icon_twitter:hover {
          background: url("../assets/icon-twitter-hover.svg") no-repeat;
        }
      }
    }
  }
}

.input:focus {
  border: none;
}

.input:active {
  border: none;
}
.videoasset{  
  box-sizing: border-box;
  width: 100%;
  .camfull {
    
    display: flex;///////////////// esto sacar en desktop
    flex-direction: column;///////////////esto sacar en desktop
    justify-content: center;/////////////////// esto sacar en desktop
    align-items: center;/////////////esto sacar en desktop
    margin-bottom: -90px;/////////////////////
    #element-camara {
      width: 20%;
      margin-top: -0.4em;
    }
    .camrollo {
      margin-top: 2em;
      .element-cinta1 {
        width: 40px;
        margin-right: -0.5em;
      }
      .element-cinta1-active {
        width: 40px;
        margin-right: -0.5em;
        animation: 3s rotate linear infinite;
        transform-origin: 50% 50%;
      }
      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      .element-cinta2 {
        width: 45px;
      }
      .element-cinta2-active {
        width: 45px;
        animation: 3s rotate linear infinite;
        transform-origin: 50% 50%;
        animation-direction: reverse;
      }
    }
  }
 #container {
  ////display: flex; // PRUEBA MOVIL
  display: flex;
  
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 350px;
  height: 260px;
  border: 1.5px #572ee5 solid;
  margin: 0;
  .message {
    
    width: 80%;
    font-size: 20px;
    color: var(--colorPrimario);
    text-align: center;
    //line-height: 35px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    
    .word {
      color: #50e3c2;
    }
    p {
      
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      //font-weight: bold;
      text-align: center;
      line-height: 23px;
      margin-top: 12px;
    }
   }
   #video {
    width: 340px;
    
    //height: 272px;
    background-color: white;
    margin: auto;
    display: block;
    position: relative;
    z-index: 1;
   }
   .preview {////////////aca pasa algo
    box-sizing: border-box;
    position: relative;
    #gif{
      width: 350px;
      height: auto;
    }
    .overlay {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      box-sizing: border-box;
      background: rgba(87, 46, 229, 0.6); /* Black see-through */
      height: 100%;
      width: 100%;
      transition: 0.5s ease;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-content: space-between;
      flex-direction: column;
      .estado {
        display: block;/////////////////////////////////////////////////////////////////////// aca me agranda el desktop
        color: white;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        position: relative;
      }
      .icon {
        position: absolute;
        top: 4px;
        right: 4px;
        #copy {
          opacity: 0.7;
        }
        #download {
          opacity: 0.7;
        }
        #copy:hover {
          opacity: 1;
        }
        #download:hover {
          opacity: 1;
        }
      }
    }
  }
  
 }
 .element-luz-camara {
  width: 50px;
  margin-left:220px ;
  margin-bottom: 20px;
  
  
}
.element-luz-camara-active {
  width: 50px;
  animation-name: parpadeo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
}
#pelicula{
  display: none;
}
.hamburger {
  background-color: transparent;
  height: 30px;
  width: 30px;
  padding: 10px 0px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 100;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamburger.is-active {
  background-color: none;
}
._layer {
  background: #572ee5;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 15px;
  height: 3px;
  opacity: 1;

  transform: translate3d(0, 0, 0);

  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger.is-active .-top {
  transform: translateY(230%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
  opacity: 0;
}
.hamburger.is-active .-bottom {
  transform: translateY(-230%) rotate(135deg) !important;
}

.menuppal.is_active {
  transform: translate3d(0px, 95px, 0px);
}
.menuppal {
  font-family: "Montserrat", sans-serif;
  background-color:  var(--colorNav);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 100;
  color: white;
}
.menuppal ul {
  margin: 0;
  padding: 0;
}
.menuppal ul li {
  list-style: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;

  font-size: 1.5rem;
  line-height: 3em;
  height: 3em;

  text-transform: none;
  font-weight: bold;

  .linea {
    width: 41px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
  }
}
.menuppal ul li a {
  text-decoration: none;
  color: white;
}

.input:focus {
  border: none;
}

.input:active {
  border: none;
}

///////////////////////////////////////////////////////
///////////////////////////////////////////////////////
//////////////////////////////////////////////////////
@media only screen and (min-width: 768px) {
  
  .hamburger {
    display: none;
  }
  .menuppal {
    display: flex;
    position: static;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    width: 100%;
    //z-index: 1001;
    color: rgba(87, 46, 229, 0.9);
    transform: none;
    overflow: hidden;
    justify-content: flex-end;
  }
  .menuppal ul {
    display: flex;
    flex-direction: row;
  }
  .menuppal ul li {
    margin-left: 2rem;
  }
  .menuppal ul li a {
    font-size: 1rem;
    line-height: 1em;
    height: 1em;
    color: var(--colorPrimario);
    text-decoration: none;
    background-image: linear-gradient(#50e3c2, #50e3c2);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  .menuppal ul li a:hover {
    background-size: 100% 2px;
  }
  .menuppal ul li .miGifo {
    display: block;
    width: 54px;
    height: 54px;
    margin-top: 10px;
    background: url("../assets/CTA-crear-gifo-active.svg") no-repeat;
    
  }
  .menuppal ul li .miGifo:hover {
    background: url("../assets/CTA-crear-gifo-active.svg") no-repeat;
  }
  .busqueda {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .imagenes {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    img {
      padding: 20px;
    }
  }
  body {
    main {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      .videoasset {
       
         display: flex;//////////////////////////////////////////////aqui saco tod el main casi
       // display: none;
        flex-direction: row;
        justify-content: center;
        .camfull {
          display: block;///////////////// 
          margin-bottom:0;
          align-items: unset;
    
          #element-camara {
            width: 110px;
            margin-top: -0.4em;
          }
          .camrollo {
            margin-top: 7em;
            .element-cinta1 {
              width: 45px;
              margin-right: -0.5em;

            }
            .element-cinta1-active {
              width: 45px;
              margin-right: -0.5em;
              animation: 3s rotate linear infinite;
              transform-origin: 50% 50%;
            }
            @keyframes rotate {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }

            .element-cinta2 {
              width: 63px;
            }
            .element-cinta2-active {
              width: 63px;
              animation: 3s rotate linear infinite;
              transform-origin: 50% 50%;
              animation-direction: reverse;
            }
          }
        }
        .element-luz-camara {
          width: 80px;          
          margin-left:0px ;
          margin-bottom: 0px;
          
        }
        .element-luz-camara-active {
          width: 80px;
          animation-name: parpadeo;
          animation-duration: 1.5s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        @keyframes parpadeo {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0.3;
          }
          100% {
            opacity: 1;
          }
        }
        #pelicula {
          display: block;
          align-self: flex-end;
          margin-left: 4em;
          margin-bottom: -6em;
        }
        #container {
        //  display: none; ///////////////////////////////////////////////////
          display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 688px;
  height: 390px;
  border: 1px solid var(--colorPrimario);
  #video {
    width: 480px;
    //height: auto;
    height: 320px;
    background-color: white;
    margin: auto;
    display: block;
    position: relative;
    z-index: 1;
  }
  .preview {
    #gif{
      width: 480px;
      height: auto;
    }
    position: relative;
    .overlay {
      position: absolute;
      top: 0;
      box-sizing: border-box;
      background: rgba(87, 46, 229, 0.6); /* Black see-through */
      height: 100%;
      width: 100%;
      transition: 0.5s ease;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-content: space-between;
      flex-direction: column;
      .estado {
        color: white;
        text-align: center;
        font-family: "Montserrat", sans-serif;
      }
      .icon {
        position: absolute;
        top: 4px;
        right: 4px;
        #copy {
          opacity: 0.7;
        }
        #download {
          opacity: 0.7;
        }
        #copy:hover {
          opacity: 1;
        }
        #download:hover {
          opacity: 1;
        }
      }
    }
  }
          .message {
            width: 50%;
            font-size: 25px;
            color: var(--colorPrimario);
            text-align: center;
            line-height: 35px;
            text-align: center;
            font-family: "Montserrat", sans-serif;
            .word {
              color: #50e3c2;
            }
            p {
              
              font-size: 16px;
              font-family: "Roboto", sans-serif;
              font-weight: bold;
            }
          }
        }
      }

      .pasos {
        width: 50%;
        margin: auto;
        position: relative;
        .instrucciones {
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          .numeros {
            margin: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            .num {
              align-self: center;
              width: 30px;
              height: 30px;
              margin-right: 1em;
              margin-left: 1em;
              //color: #572ee5;
             // border: solid #572ee5 1.5px;
              color: var(--colorPrimario);
        border: 1px solid var(--colorPrimario);
              border-radius: 50%;
              display: flex;
              justify-content: center;
              p {
                margin-top: 0.4em;
                font-size: 16px;
                font-family: "Roboto", sans-serif;
                font-weight: bold;
              }
            }
          }
          .reloj {
            position: absolute;
            top: 19px;
            right: 80px;
            color: #572ee5;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 13px;
          }
          .repetir {
            width: auto;
            white-space: nowrap;
            position: absolute;
            top: 19px;
            right: 30px;
            color: #572ee5;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 13px;
            cursor: pointer;
            text-decoration: underline solid 2px #5ed7c6;
          }
        }

        .line {
          border-bottom: solid #572ee5 7px;
          width: 80%;
          margin: auto;
        }
      }
    }
    footer {
      height: 300px;
      flex-direction: row;
      .redes {
        padding-left: 150px;
        display: flex;
        flex-direction: row;
        .iconitos {
          padding-top: 0;
          .contain_icon_face {
            width: 20px;
            margin-left: 15px;
            height: 20px;
            background: url("../assets/icon_facebook.svg") no-repeat;
          }
          .contain_icon_face:hover {
            background: url("../assets/icon_facebook_hover.svg") no-repeat;
          }
          .contain_icon_instagram {
            width: 20px;
            margin-left: 8px;
            height: 20px;
            background: url("../assets/icon_instagram.svg") no-repeat;
          }
          .contain_icon_instagram:hover {
            background: url("../assets/icon_instagram-hover.svg") no-repeat;
          }
          .contain_icon_twitter {
            width: 20px;
            margin-left: 15px;
            height: 20px;
            background: url("../assets/icon-twitter.svg") no-repeat;
          }
          .contain_icon_twitter:hover {
            background: url("../assets/icon-twitter-hover.svg") no-repeat;
          }
        }
      }
      .pie_footer {
        padding-right: 150px;
      }
    }
  }
}
