html {
  --nombreVariable: url("../assets/button-crear-gifo.svg");
  --colorPrimario: #572ee5;
  --colorNav: #572ee5;
  --verMasHover: #ffffff;
  --colorVerMas: #572ee5;
  --anchoCard: "260px";
  --altoCard: "200px";
  --crearGifoHover: url("../assets/CTA-crear-gifo-hover.svg");
  --textModal:#000000;
  --close: url("../assets/close.svg")
  --lupa:url("../assets/icon-search.svg")
}
* {
  margin: 0;
  padding: 0;
}
.darkMode {
  background-color: #37383c;
  color: #fff;
  header {
    background-color: #37383c;
    .menuppal {
      background-color: transparent;
      border: none;
    }
    .menuppal.is_active {
      background-color: black;
    }
  }
  main {
    padding-top: 100px;
    .busqueda {
      .form {
        .lupita {
          .input {
            background-color: #37383c;
          }
        }
      }
    }
    .GIFOS {
      background-color: #222326;
    }
  }
}

body {
  //*background: #37383C;
  header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    //max-width: 1200px;
    width: 100%;
    // border-top: solid #572ee5 5px;
    margin: auto;
    padding: 1rem 1.2rem;
    box-sizing: border-box;
    z-index: 1000;
    img {
      width: 3rem;
    }
  }
  main {
    padding-top: 100px;
    section {
      .tittle {
        h1 {
          width: 70%;
          margin: auto;
          padding: 0rem 2rem;
          font-family: "Montserrat", sans-serif;
          font-size: 25px;
          color: var(--colorPrimario);
          line-height: 2rem;
          text-align: center;
          span {
            font-size: 25px;
            color: #50e3c2;
          }
        }
      }

      .form {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: center;
        border: solid 1px var(--colorPrimario);
        border-radius: 27px;
        z-index: 10;
        .input {
          width: 80%;
          height: 50px;
          font-family: "Roboto", sans-serif;
          font-size: 1rem;
          color: #6b7989;
          text-align: left;
          margin: auto;
          padding-left: 2px;
          outline: none;
          border: none;
          //border-bottom: solid 2px rgb(167, 167, 167);
        }
        .sug {
          width: 80%;
          font-family: "Roboto", sans-serif;
          font-size: 1rem;
          color: #6b7989;
          margin: auto;
          padding-top: 8px;
          padding-left: 2em;
          padding-bottom: 0.6rem;
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }
    .busqueda {
      width: 90%;
      box-sizing: border-box;
      margin: auto;

      #ilustra {
        max-width: 100%;
        margin-top: 2em;
      }
      .form {
        width: 100%;
        .lupita {
          display: flex;
          margin-left: 25px;
          .lupon {
            visibility: hidden;
            cursor: pointer;
          }
          .input {
            margin-left: 10px;
            width: 80%;
            //background-size: 20px;
            opacity: 0.9;
            //padding-left: 25px;
            //background: var(--lupa) right no-repeat;
          }
          .input:hover {
            background: none;
          }

          input::-webkit-search-decoration {
            display: none;
          }
          input::-webkit-search-cancel-button {
           // -webkit-appearance: none;
            background: var(--close) no-repeat;
            width: 14px;
            height: 14px;
          }

          //cursor: pointer;
        }
      }
    }
    .parraf {
      margin-top: 30px;
      margin-bottom: 4em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //width: 70%;
      //margin: auto;
      .parrafTrending {
        margin: auto;
        //width: 70%;
        padding: 1.2em;
        align-items: center;
        justify-content: center;
        text-align: center;
        span {
          color: var(--colorPrimario);
          font-size: 14px;
          font-family: "Montserrat", sans-serif;
          font-weight: 300;
        }
      }
      h3 {
        color: var(--colorPrimario);
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        color: var(--colorPrimario);
        line-height: 40px;
        width: 80%;
        text-align: center;
        margin-bottom: 1.5em;
      }
      h2 {
        border-top: 1px solid #9cafc3;
        padding-top: 67px;
        margin: auto;
        font-family: "Montserrat", sans-serif;
        font-size: 35px;
        color: var(--colorPrimario);
        text-align: center;
        line-height: 30px;
      }
      .imagenes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .cards {
          width: 156px;
          height: 120px;
        }
        .divi {
          position: relative;
          margin-top: 1em;

          .overlay:hover {
            opacity: 1;
          }
          .overlay {
            display: none;
            .titulo {
              color: white;
              opacity: 1;
              font-family: "Roboto", sans-serif;
              font-size: 15px;
              font-weight: bold;
              margin-bottom: 1em;
              margin-left: 0.5em;
            }
            .user {
              color: white;
              opacity: 1;
              margin-bottom: 0px;
              font-family: "Roboto", sans-serif;
              font-size: 15px;
              margin-left: 0.5em;
            }
            .iconos {
              position: absolute;
              top: 5px;
              right: 5px;
              display: flex;
              justify-content: space-between;
              width: 100px;
              height: 32px;
              .down {
                background: url("../assets/icon-download.svg") no-repeat;
                width: 32px;
                height: 32px;
                cursor: pointer;
              }
              .fav {
                background: url("../assets/icon-fav.svg");
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                cursor: pointer;
                .imgfavs {
                  margin-left: 7px;
                  margin-top: 7px;
                }
              }
              .amp {
                background: url("../assets/icon-max-normal.svg") no-repeat;
                width: 32px;
                height: 32px;
                cursor: pointer;
              }
              .down:hover {
                background: url("../assets/icon-download-hover.svg") no-repeat;
              }
              .fav:hover {
                background: url("../assets/icon-fav-hover.svg") no-repeat;
              }
              .amp:hover {
                background: url("../assets/icon-max-hover.svg") no-repeat;
              }
            }
            position: absolute;
            top: 0;
            box-sizing: border-box;
            background: rgba(87, 46, 229, 0.6); /* Black see-through */
            height: 100%;
            width: 100%;
            transition: 0.5s ease;
            opacity: 0;
            //display: flex;///////////////////////////////////////que pasa//////////
            //justify-content: center;
            //align-content: space-between;
            flex-direction: column-reverse;
            justify-content: flex-start;

            .estado {
              color: white;
              text-align: center;
              font-family: "Montserrat", sans-serif;
              display: none;
            }
            .icon {
              position: absolute;
              top: 4px;
              right: 4px;
              display: none;
              #copy {
                opacity: 0.7;
              }
              #download {
                opacity: 0.7;
              }
              #copy:hover {
                opacity: 1;
              }
              #download:hover {
                opacity: 1;
              }
            }
          }
        }
        #searchis {
          margin-top: 1.5em;
          width: 156px;
          height: 120px;
        }
      }
    }
    .boton_ver_mas {
      border: 1px solid var(--colorPrimario);
      background: var(--verMas) no-repeat;
      border-radius: 25px;
      width: 127px;
      height: 50px;
      margin: auto;
      margin-bottom: 2em;
      font-weight: bold;
      font-size: 13px;
      color: var(--colorPrimario);
      letter-spacing: 0;
      text-align: center;
    }
    .ver_mas_p {
      margin-top: 1.2em;
      font-family: "Montserrat", sans-serif;
    }
    .boton_ver_mas:hover {
      border: 1px solid var(--verMasHover);
      background: var(--verMasHover) no-repeat;
      color: var(--verMasFuenteHover);
    }

    .modal {
      display: flex;
      position: fixed;
      z-index: 1000;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: var(--verMas);
      //border: solid 1px #572EE5;
      padding-top: 8em;

      .iconmodal {
        position: absolute;
        margin-left: 280px;
        top: 390px;
        display: flex;

        .down {
          display: block;
          background: url("../assets/icon-download.svg") no-repeat;
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
        .fav {
          display: block;
          background: url("../assets/icon-fav.svg");
          background-repeat: no-repeat;
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
      }
      .cerrar_modal {
        position: absolute;
        right: 6%;
        top: 100px;
        background: var(--close) no-repeat;
        width: 1em;
        height: 1em;
        z-index: 2000;
        cursor: pointer;
      }
      .titulo_modal {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: bold;
        left: 21px;
        top: 405px;
        color: var(--textModal);
      }
      .usuario_modal {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        top: 390px;
        left: 21px; ///600px
        color: var(--textModal);
      }

      .contain_modal {
        margin: auto;
        height: 245px;
        width: 318px;
        .imagen_ampliada {
          width: 100%;
          height: 245px;
          z-index: 2000;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          //background: no-repeat;
        }
      }
    }
    .GIFOS {
      background: #f3f5f8;
      h2 {
        padding-top: 67px;
        margin: auto;
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
        color: var(--colorPrimario);
        text-align: center;
        line-height: 30px;
      }
      p {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        //color: #000000;
        text-align: center;
        margin: auto;
        padding-top: 0.8em;
      }

      .carousel {
        /* line them up horizontally */
        display: flex;

        /* allow for scrolling */
        overflow-x: auto;

        /* make it smooth on iOS */
        -webkit-overflow-scrolling: touch;
        scroll-snap-points-x: repeat(300px);
        scroll-snap-type: mandatory;
        .card {
          width: 243px;
          box-sizing: border-box;
          position: relative;
          margin: 1rem;
          padding: 0;
          .overlay:hover {
            opacity: 1;
            display: flex;
          }
          .overlay {
            display: none;
            //////////////////////////////////que pasa aqui
            .titulo {
              color: white;
              opacity: 1;
              font-family: "Roboto", sans-serif;
              font-size: 15px;
              font-weight: bold;
              margin-bottom: 1em;
              margin-left: 0.5em;
            }
            .user {
              color: white;
              opacity: 1;
              margin-bottom: 0px;
              font-family: "Roboto", sans-serif;
              font-size: 15px;
              margin-left: 0.5em;
            }
            .iconos {
              position: absolute;
              top: 5px;
              right: 5px;
              display: flex;
              justify-content: space-between;
              width: 100px;
              height: 32px;
              .down {
                background: url("../assets/icon-download.svg") no-repeat;
                width: 32px;
                height: 32px;
                cursor: pointer;
              }
              .fav {
                background: url("../assets/icon-fav.svg");
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                cursor: pointer;
                .imgfavs {
                  margin-left: 7px;
                  margin-top: 7px;
                }
              }
              .amp {
                background: url("../assets/icon-max-normal.svg") no-repeat;
                width: 32px;
                height: 32px;
                cursor: pointer;
              }
              .down:hover {
                background: url("../assets/icon-download-hover.svg") no-repeat;
              }
              .fav:hover {
                background: url("../assets/icon-fav-hover.svg") no-repeat;
              }
              .amp:hover {
                background: url("../assets/icon-max-hover.svg") no-repeat;
              }
            }
            position: absolute;
            top: 0;
            box-sizing: border-box;
            background: rgba(87, 46, 229, 0.6); /* Black see-through */
            height: 100%;
            width: 100%;
            transition: 0.5s ease;
            opacity: 0;
            //display: flex;
            //justify-content: center;
            //align-content: space-between;
            flex-direction: column-reverse;
            justify-content: flex-start;

            .estado {
              color: white;
              text-align: center;
              font-family: "Montserrat", sans-serif;
              display: none;
            }
            .icon {
              position: absolute;
              top: 4px;
              right: 4px;
              display: none;
              #copy {
                opacity: 0.7;
              }
              #download {
                opacity: 0.7;
              }
              #copy:hover {
                opacity: 1;
              }
              #download:hover {
                opacity: 1;
              }
            }
          }

          .giftrend {
            width: 243px;
            height: 187px;
            z-index: 100;
          }
        }
        .card:hover .overlay {
          opacity: 1;
        }
        #right {
          display: none;

          outline: none;
        }
        #right:hover {
          background: url("../assets/Button-Slider-right-hover.svg") no-repeat;
        }
        #left {
          display: none;
        }
        #left:hover {
          background: url("../assets/button-slider-left-hover.svg") no-repeat;
        }
      }
    }
  }
  footer {
    border-bottom: solid 5px #572ee5;
    .contain_footer {
      box-sizing: border-box;
      width: 100%;
      height: 196px;
      padding-top: 45px;
      padding-bottom: 25px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      .redes {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        .iconitos {
          margin-top: 1em;
          display: flex;
          .contain_icon_face {
            width: 20px;
            margin-left: 8px;
            height: 20px;
            background: url("../assets/icon_facebook.svg") no-repeat;
          }
          .contain_icon_face:hover {
            background: url("../assets/icon_facebook_hover.svg") no-repeat;
          }
          .contain_icon_instagram {
            width: 20px;
            margin-left: 6px;
            height: 20px;
            background: url("../assets/icon_instagram.svg") no-repeat;
          }
          .contain_icon_instagram:hover {
            background: url("../assets/icon_instagram-hover.svg") no-repeat;
          }
          .contain_icon_twitter {
            width: 20px;
            margin-left: 10px;
            height: 20px;
            background: url("../assets/icon-twitter.svg") no-repeat;
          }
          .contain_icon_twitter:hover {
            background: url("../assets/icon-twitter-hover.svg") no-repeat;
          }
        }
      }
    }
  }
}

.hamburger {
  background-color: transparent;
  height: 30px;
  width: 30px;
  padding: 10px 0px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 100;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamburger.is-active {
  background-color: none;
}
._layer {
  background: var(--colorPrimario);
  margin-bottom: 4px;
  border-radius: 2px;
  width: 15px;
  height: 3px;
  opacity: 1;

  transform: translate3d(0, 0, 0);

  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger.is-active .-top {
  transform: translateY(230%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
  opacity: 0;
}
.hamburger.is-active .-bottom {
  transform: translateY(-230%) rotate(135deg) !important;
}

.menuppal.is_active {
  transform: translate3d(0px, 95px, 0px);
  margin-top: -15px;
}
.menuppal {
  font-family: "Montserrat", sans-serif;
  background-color: var(--colorNav); //rgba(87, 46, 229, 0.9);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: translate3d(0px, -100%, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  width: 100%;
  z-index: 100;
  color: white;
}
.menuppal ul {
  margin: 0;
  padding: 0;
}
.menuppal ul li {
  list-style: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;

  font-size: 1.5rem;
  line-height: 3em;
  height: 3em;

  text-transform: none;
  font-weight: bold;

  .linea {
    width: 41px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
  }
}
.menuppal ul li a {
  text-decoration: none;
  color: white;
}
//.menuppal ul li a:hover {
//  text-decoration: none;
//  color: #333;
//}

.input:focus {
  border: none;
}

.input:active {
  border: none;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  ////////////////////////////////////////////////////////////////////////////////////
  // .busqueda {

  .hamburger {
    display: none;
  }
  .menuppal {
    display: flex;
    position: static;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    width: 100%;
    //z-index: 1001;
    color: rgba(87, 46, 229, 0.9);
    transform: none;
    overflow: hidden;
    justify-content: flex-end;
  }
  .menuppal ul {
    display: flex;
    flex-direction: row;
  }
  .menuppal ul li {
    margin-left: 2rem;
  }
  .menuppal ul li a {
    font-size: 1rem;
    line-height: 1em;
    height: 1em;
    color: var(--colorPrimario);
    text-decoration: none;
    background-image: linear-gradient(#50e3c2, #50e3c2);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  .menuppal ul li a:hover {
    background-size: 100% 2px;
  }
  .menuppal ul li .miGifo {
    display: block;
    width: 54px;
    height: 54px;
    margin-top: 10px;
    background: var(--nombreVariable) no-repeat; ///////////////////////////////////////////////
  }
  .navegation ul li .miGifo:hover {
    background: var(--crearGifoHover) no-repeat;
  }
  .imagenes {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    //img {
    //    padding: 20px;
    // }
  }
  body {
    header {
      justify-content: space-between;
      //max-width: 1200px;
      padding: 0.6em 5% 0.5em 5%;
    }
    main {
      .modal {
        padding-top: 8em;
        
      .contain_modal {
        margin: auto;
        //height: 245px;
        width: 600px;
        height: 385px;
        .imagen_ampliada {
          width: 100%;
          height: 100%;          
        }}
        .cerrar_modal {
          right: 15%;
          top: 50px;
        }

        .usuario_modal {
          top: 560px;
          left: 320px; ///600px
        }
        .titulo_modal {
          top: 540px;
          left: 320px;
        }
        .iconmodal {
          position: absolute;
          margin-left: 960px;
          top: 540px;
        }
      }
      .busqueda {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 70%;
        box-sizing: border-box;
        margin: auto;
        margin-top: 3rem;

        #ilustra {
          max-width: 60%;
          margin-top: 2em;
        }
        .form {
          width: 50%;
          .input {
            width: 80%;
          }
          .input:hover{
            background: none;
          }
          
        }
        .tittle {
          h1 {
            font-size: 32px;
          }
        }
      }
      .parraf {
        #imagenes {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .divi {
            .overlay {
              display: flex;
            }
          }
          .cards {
            width: 260px;
            height: 200px;
          }
          #searchis {
            margin-top: 1.5em;
            width: 260px;
            height: 200px;
          }
        }
      }

      .GIFOS {
        background: #f3f5f8;
        h2 {
          padding-top: 67px;
          margin: auto;
          font-family: "Montserrat", sans-serif;
          font-size: 25px;
          color: var(--colorPrimario);
          text-align: center;
          line-height: 30px;
        }
        p {
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          // color: #000000;
          text-align: center;
          margin: auto;
          padding-top: 0.8em;
        }

        .carousel {
          margin-top: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .card {
            width: 357px;
            box-sizing: border-box;
            position: relative;
            margin: 1rem;
            padding: 0;
            .overlay {
              //display:block;
              display: flex;
              box-sizing: border-box;
              position: absolute;
              bottom: 0;
              background: rgba(87, 46, 229, 0.6); /* Black see-through */
              height: 100%;
              width: 100%;
              transition: 0.5s ease;
              opacity: 0;
            }
            .giftrend {
              width: 357px;
              height: 275px;
              z-index: 100;
            }
          }
          .card:hover .overlay {
            opacity: 1;
          }
          #right {
            display: block;
            width: 40px;
            height: 40px;
            background: url("../assets/Button-Slider-right.svg") no-repeat;
            border: none;
            padding: 10px;

            outline: none;
          }
          #right:hover {
            background: url("../assets/Button-Slider-right-hover.svg") no-repeat;
          }
          #left {
            display: block;
            width: 40px;
            height: 40px;
            background: url("../assets/button-slider-left.svg") no-repeat;
            border: none;
            padding: 10px;
            margin: 0px;
            outline: none;
          }
          #left:hover {
            background: url("../assets/button-slider-left-hover.svg") no-repeat;
          }
        }
      }
    }
    footer {
      .contain_footer {
        width: 70%;
        flex-direction: row;
        margin: auto;
        .redes {
          flex-direction: row;
          .iconitos {
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .hamburger {
    display: none;
  }
  .menuppal {
    display: flex;
    position: static;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    width: 100%;
    //z-index: 1001;
    color: rgba(87, 46, 229, 0.9);
    transform: none;
    overflow: hidden;
    justify-content: flex-end;
  }
  .menuppal ul {
    display: flex;
    flex-direction: row;
  }
  .menuppal ul li {
    margin-left: 2rem;
  }
  .menuppal ul li a {
    font-size: 1rem;
    line-height: 1em;
    height: 1em;
    color: var(--colorPrimario);
    text-decoration: none;
    background-image: linear-gradient(#50e3c2, #50e3c2);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  .menuppal ul li a:hover {
    background-size: 100% 2px;
  }
  .menuppal ul li .miGifo {
    display: block;
    width: 54px;
    height: 54px;
    margin-top: 10px;
    background: url("../assets/button-crear-gifo.svg") no-repeat;
  }
  .menuppal ul li .miGifo:hover {
    background: url("../assets/CTA-crear-gifo-hover.svg") no-repeat;
  }
  .imagenes {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    //img {
    //    padding: 20px;
    // }
    .cards {
      width: 260px;
      height: 200px;
    }
  }
  body {
    header {
      //height: 97px;
      //max-width: 1200px;
      justify-content: space-between;
      //margin: auto;
      display: flex;
      padding: 0.8em 20% 0.8em 20%;
      align-items: center;
    }
    main {
      .modal {
        display: flex;
        position: fixed;
        z-index: 2000;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: var(--verMas);
        //border: solid 1px #572EE5;
        padding-top: 15em;
          
      .contain_modal {
        margin: auto;
        //height: 245px;
        width: 600px;
        height: 385px;
        .imagen_ampliada {
          width: 100%;
          height: 100%;          
        }}
        .iconmodal {
          position: absolute;
          margin-left: 1240px;
          top: 640px;
          display: flex;

          .down {
            display: block;
            background: url("../assets/icon-download.svg") no-repeat;
            width: 32px;
            height: 32px;
            cursor: pointer;
          }
          .fav {
            display: block;
            background: url("../assets/icon-fav.svg");
            background-repeat: no-repeat;
            width: 32px;
            height: 32px;
            cursor: pointer;
          }
        }
        .cerrar_modal {
          position: absolute;
          right: 15%;
          top: 76px;
          //background: url("assets/close.svg") no-repeat;
          width: 1em;
          height: 1em;
          z-index: 2000;
          cursor: pointer;
        }
        .titulo_modal {
          position: absolute;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: bold;

          left: 600px;

          top: 660px;
        }
        .usuario_modal {
          position: absolute;
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          top: 640px;
          left: 600px; ///600px
        }

        .contain_modal {
          margin: auto;
          height: 385px;
          width: 695px;
          .imagen_ampliada {
            width: 100%;
            height: 385px;
            z-index: 2000;
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }
        }
      }

      .busqueda {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 70%;
        box-sizing: border-box;
        margin: auto;
        margin-top: 3rem;
        .tittle {
          h1 {
            font-size: 32px;
            span {
              font-size: 32px;
            }
          }
        }
        #ilustra {
          max-width: 60%;
          margin-top: 2em;
        }
        .form {
          width: 50%;
          .input {
            width: 80%;
          }
        }
      }
      .parraf {
        #imagenes {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .divi {
            .overlay {
              // display: block;
              display: flex;
            }
          }
          .cards {
            width: 260px;
            height: 200px;
          }
          #searchis {
            margin-top: 1.5em;
            width: 260px;
            height: 200px;
          }
        }
      }

      .GIFOS {
        background: #f3f5f8;
        h2 {
          padding-top: 67px;
          margin: auto;
          font-family: "Montserrat", sans-serif;
          font-size: 25px;
          color: var(--colorPrimario);
          text-align: center;
          line-height: 30px;
        }
        p {
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          //color: #000000;
          text-align: center;
          margin: auto;
          padding-top: 0.8em;
        }

        .carousel {
          margin-top: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .card {
            width: 357px;
            box-sizing: border-box;
            position: relative;
            margin: 1rem;
            padding: 0;
            .overlay {
              display: flex;
              box-sizing: border-box;
              position: absolute;
              bottom: 0;
              background: rgba(87, 46, 229, 0.6); /* Black see-through */
              height: 100%;
              width: 100%;
              transition: 0.5s ease;
              opacity: 0;
            }
            .giftrend {
              width: 357px;
              height: 275px;
              z-index: 100;
            }
          }
          .card:hover .overlay {
            opacity: 1;
          }
          #right {
            display: block;
            width: 40px;
            height: 40px;
            background: url("../assets/Button-Slider-right.svg") no-repeat;
            border: none;
            padding: 10px;
            outline: none;
          }
          #right:hover {
            background: url("../assets/Button-Slider-right-hover.svg") no-repeat;
          }
          #left {
            display: block;
            width: 40px;
            height: 40px;
            background: url("../assets/button-slider-left.svg") no-repeat;
            border: none;
            padding: 10px;
            margin: 0px;
            outline: none;
          }
          #left:hover {
            background: url("../assets/button-slider-left-hover.svg") no-repeat;
          }
        }
      }
    }
    footer {
      .contain_footer {
        width: 70%;
        flex-direction: row;
        margin: auto;
        .redes {
          flex-direction: row;
          .iconitos {
            margin-top: 0;
          }
        }
      }
    }
  }
}
